<nav class="nav">
    <ul class="menu">
        <li><a href="#">Mi Cotizador</a>
            <ul class="sub-nav">
                <li><a [routerLink]="['/']">Carros Nuevos</a></li>
                <li><a href="#">Carros Semi-Nuevos</a></li>
                <li><a [routerLink]="['/add-car']">Agregar Carro Nuevo</a></li>
                <li><a href="#">Agregar Carro Semi-Nuevo</a></li>
                <li><a [routerLink]="['/clients']">Clientes</a></li>
            </ul>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Salir</a></li> 
    </ul>
</nav>
