<nav class="nav">
    <ul *ngIf="user_logged" class="menu">
        <li><a href="#">Mi Cotizador</a>
            <ul class="sub-nav">
                <li><a [routerLink]="['/cars']">Carros Nuevos</a></li>
                <li><a [routerLink]="['/used-cars']">Carros Semi-Nuevos</a></li>
                <li><a [routerLink]="['/add-car']">Agregar Carro Nuevo</a></li>
                <li><a [routerLink]="['/add-used-car']">Agregar Carro Semi-Nuevo</a></li>
<!--                 <li><a [routerLink]="['/clients']">Clientes</a></li> -->
            </ul>
        <li><a (click)="logOut()"><span class="glyphicon glyphicon-user"></span>Salir</a></li> 
    </ul>
</nav>
