body{
    background: #ecf0f1;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}
input[type="submit"]{
    position: relative;
    top: 12em;
    left: 80em;
    background: #034dd6;
    color: #ecf0f1;
    border-bottom: 2px solid #095dfa;
    font-family: 'Montserrat', sans-serif;
    width: 16%;
    font-size: 13px;
    margin: 10px 8px 0;
}
input[type=submit]:active,
input[type=submit]:focus {
    background: #095dfa59;
    color: #ecf0f1;
    border: 0;
    border-bottom: 1px solid;
}

th{
    font-size: 20px;     
    font-weight: normal;     
    padding: 8px;     
    background: #b9c9fe;
    border-top: 4px solid #aabcfe;    
    border-bottom: 1px solid #fff; 
    color: #039;
}
td{
    padding: 8px;     
    background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: #669;    
    border-top: 1px solid transparent;
    height: 51px;
    width: 257px;
}
table{
    margin-left: 15%;
    font-family: 'Montserrat';
    font-size: 18px;    
    /*margin: 45px;  */   
    width: 70%; 
    text-align: left;    
    border-collapse: collapse; 
    position: absolute;
    top: 13em;
    /*left: 35em;*/
}
h1{
    position: absolute;
    left: 10em;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    top: 2em;
}
tr:hover td { 
    background: #d0dafd; color: #339; 
}