<h1>Vehículos Nuevos</h1>
<table>
  <thead>
    <tr>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Versión</th>
      <th>Tipo</th>
      <th>Precio</th>
    </tr>
  </thead>
    <tbody (click)="viewCar(car.key)" *ngFor="let car of cars | async">
      <td>{{ car.payload.val().modelo }}</td>
      <td>{{ car.payload.val().marca }}</td>
      <td>{{ car.payload.val().version }}</td>
      <td>{{ car.payload.val().tipo }}</td>
      <td>$ {{ car.payload.val().precio[0] }} MXN</td>
    </tbody>
</table>